[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
GenericName=IDE for Android Development
Comment=Android development environment
Exec=/opt/android-studio/bin/studio %f
Icon=/opt/android-studio/bin/studio.svg
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-studio
MimeType=text/x-java;
Actions=new-project;open-project;

[Desktop Action new-project]
Name=New Project
Exec=/opt/android-studio/bin/studio
Icon=android-studio

[Desktop Action open-project]
Name=Open Project
Exec=/opt/android-studio/bin/studio %f
Icon=android-studio
